<% @venue = Venue.find(params[:id]) %>
<% @koord = Geocoder.coordinates(@venue.title) %>
<% unless @koord == nil %>
  <% @lokat = Geocoder.search(@koord)[0].data %>
<% end %> 
<% unless @lokat == nil %>
  <% @citprov = Geocoder.search(@lokat["postal"])[0].data %>
<% end %>

<% if defined?(@lokat["staddress"]) != nil %>
<%= form_for(venue) do |f| %>
  <%= f.hidden_field :authorized, value: true %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= display_error_for venue, :title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= display_error_for venue, :name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :street_address %>
        <% if @venue.street_address != nil %>
          <%= f.text_field :street_address, class: 'form-control' %>
        <% else %>
          <%= f.text_field :street_address, :value => @lokat["stnumber"] + " " + @lokat["staddress"], class: 'form-control' %>
        <% end %>
        <%= display_error_for venue, :street_address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label 'City' %>
        <% if @venue.locality != nil %>
          <%= f.text_field :locality, class: 'form-control' %>
        <% else %>
          <%= f.text_field :locality, :value => @citprov["standard"]["city"], class: 'form-control' %>
        <% end %>  
        <%= display_error_for venue, :locality %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label 'Province' %>
        <% if @venue.region != nil %>
        <%= f.text_field :region, class: 'form-control' %>
        <% else %>
          <%= f.text_field :region, :value => @citprov["standard"]["prov"], class: 'form-control' %>
        <% end %> 
        <%= display_error_for venue, :region %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :postal_code %>
        <% if @venue.postal_code != nil %>
        <%= f.text_field :postal_code, class: 'form-control' %>
        <% else %>
          <%= f.text_field :postal_code, :value => @lokat["postal"], class: 'form-control' %>
        <% end %> 
        <%= display_error_for venue, :postal_code %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, :value => url(@venue.title), class: 'form-control' %>
        <%= display_error_for venue, :url %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
        <%= display_error_for venue, :description %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= display_error_for venue, :email %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :telephone %>
        <%= f.text_field :telephone, class: 'form-control' %>
        <%= display_error_for venue, :telephone %>
      </div>
    </div>
  </div>

  <div class="row">
    <% if current_user.nil? || !current_user.admin? %>
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary form-control' %>
      </div>
    </div>
    <% else %>
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary form-control' %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <%= link_to 'Delete', "/admin/venues/#{venue.id}", method: :delete, class: 'btn btn-danger form-control' %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
<% else %>
	<%= render 'form' %>
<% end %>
