<p id="notice"><%= notice %></p>

<h1>Listing Sidekiq Tests</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sidekiq_tests.each do |sidekiq_test| %>
      <tr>
        <td><%= sidekiq_test.text %></td>
        <td><%= sidekiq_test.count %></td>
        <td><%= link_to 'Show', sidekiq_test %></td>
        <td><%= link_to 'Edit', edit_sidekiq_test_path(sidekiq_test) %></td>
        <td><%= link_to 'Destroy', sidekiq_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sidekiq test', new_sidekiq_test_path %>
